:root {
    /* Primary */

    --softBlue: hsl(231, 69%, 60%);
    --softRed: hsl(0, 94%, 66%);

    /* Neutral */

    --veryLightGray: hsl(0, 0%, 98%);
    --grayishBlue: hsl(229, 8%, 60%);
    --veryDarkBlue: hsl(229, 31%, 21%);
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    font-weight: 400;
}

/* Deleting default outline when focusing an input */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.hidden {
    display: none;
}

button {
    padding: 1.1em 1.1em;
    border: none;
    background-color: var(--softBlue);
    color: #FFF;
    font-weight: 500;
    border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.3em 0.5em;
}

p {
    color: var(--grayishBlue);
    text-align: center;
    line-height: 1.8em;
}

h1,
h2,
h3 {
    color: var(--veryDarkBlue);
    font-weight: 500;
    text-align: center;
    line-height: 1.3em;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header,
.main__hero,
.main__features {
    padding: 0 10%;
}

.header__logo,
.header__mobile__logo,
.footer__logo {
    width: 153px;
    height: 25.85px;
}

.header__hamburger,
.header__mobile__close,
.header__nav__facebook,
.header__nav__twitter {
    width: 25px;
    height: 25px;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding-top: 3em;
    padding-bottom: 3em;
}

/* Hero section */

.main__hero {
    overflow: hidden;
}

.hero__background__image {
    position: relative;
    width: 100%;
    z-index: 2;
}

.main__hero__info,
.features__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__hero__info h1,
.features__info h1 {
    margin-bottom: 0.5em;
}

.main__hero__info p,
.features__info p {
    margin-bottom: 1.5em;
}

.info__button__chrome {
    margin-right: 0.7em;
}

.info__button__firefox {
    background-color: var(--veryLightGray);
    color: var(--veryDarkBlue);
}

/* Features section */

.main__features {
    margin: 3em 0;
}

.features__info h1 {
    font-size: 1.8em;
}

.features__menu {
    display: flex;
}

.features__menu h2 {
    padding: 1em;
}

.features__menu .featSelected {
    color: var(--veryDarkBlue);
}