@media screen and (max-width: 768px) {
    /* Hero section */

    .main__hero {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    .main__hero__background {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .main__hero__info {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .main__hero__info h1 {
        font-size: 2.3em;
    }

    .hero__background__circle {
        position: absolute;
        right: 0;
        top: 33%;
        height: 48%;
        width: 70%;
        background-color: var(--softBlue);
        z-index: 1;
        border-radius: 35% 0 0 35%;
        -webkit-border-radius: 35% 0 0 35%;
        -moz-border-radius: 35% 0 0 35%;
        -ms-border-radius: 35% 0 0 35%;
        -o-border-radius: 35% 0 0 35%;
    }

    /* Features section */

    .features__menu {
        flex-direction: column;
    }

    #featItem01 {
        border-top: 1px solid #e2e2e2;
    }

    .features__menu h2 {
        color: var(--grayishBlue);
        border-bottom: 1px solid #e2e2e2;
    }

    .featSelected::after {
        content: "";
        width: 26%;
        height: 22px;
        padding: 12px;
        position: absolute;
        left: 36vw;
        border-bottom: 4px solid var(--softRed);
    }

    .features__description {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        padding-top: 4em;
    }

    .features__description__background {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding-bottom: 3em;
    }

    .features__description__background img {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    .features__description__info {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        padding-top: 3em;
    }

    .features__description__background img {
        position: relative;
        z-index: 2;
    }

    .description__background__circle {
        position: absolute;
        height: 50%;
        width: 78%;
        left: 0;
        background-color: var(--softBlue);
        z-index: -1;
        border-radius: 0 35% 35% 0;
        -webkit-border-radius: 0 35% 35% 0;
        -moz-border-radius: 0 35% 35% 0;
        -ms-border-radius: 0 35% 35% 0;
        -o-border-radius: 0 35% 35% 0;
        transform: translateY(-80%);
        -webkit-transform: translateY(-80%);
        -moz-transform: translateY(-80%);
        -ms-transform: translateY(-80%);
        -o-transform: translateY(-80%);
    }

    .main__contact__form {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    :root {
        /* Primary */

        --softBlue: hsl(231, 69%, 60%);
        --softRed: hsl(0, 94%, 66%);

        /* Neutral */

        --grayishBlue: hsl(229, 8%, 60%);
        --veryLightGray: hsl(0, 0%, 98%);
        --veryDarkBlue: hsl(229, 31%, 21%);
    }

    * {
        font-size: 12px;
    }

    .header__logo,
    .header__mobile__logo,
    .footer__logo {
        width: 153px;
        height: 25.85px;
    }

    .header__nav__facebook,
    .header__nav__twitter {
        width: 25px;
        height: 25px;
    }

    .header__mobile__close,
    .header__hamburger {
        width: 17px;
        height: 15px;
    }

    /* Mobile navigation */

    .header__nav {
        position: fixed;
        background-color: rgba(37, 43, 70, 0.95);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 3em 10%;
        z-index: 3;
    }

    .header__nav__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2em;
    }

    .header__nav ul {
        text-align: center;
        margin-top: 3em;
    }

    .header__nav ul li {
        padding: 1em 0;
        border-top: 1px solid var(--grayishBlue);
    }

    .header__nav #contact {
        border-bottom: 1px solid var(--grayishBlue);
        margin-bottom: 2em;
    }

    .header__nav ul li a,
    .header__nav__login {
        color: #FFF;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .header__nav__login {
        width: 100%;
        background-color: transparent;
        border: 2px solid #FFF;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    .header__nav__social {
        position: absolute;
        bottom: 5%;
        width: 80%;
        text-align: center;
    }

    .header__nav__facebook {
        margin-right: 15%;
    }

    .main__hero__info p {
        width: 240px;
    }

    /* Features section */

    .features__info p {
        width: 250px;
    }

    .featSelected::after {
        content: "";
        width: 26%;
        height: 22px;
        padding: 4px;
        position: absolute;
        left: 36vw;
        border-bottom: 4px solid var(--softRed);
    }

    .features__description__info p {
        width: 250px;
    }

    /* Downloads section */

    .main__download__info p {
        width: 230px;
    }

    .main__download__container {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        margin: 3em 0;
    }

    /* Questions section */

    .main__questions__info p {
        width: 250px;
    }

    /* Contact section */

    .main__contact__form {
        flex-direction: column;
    }

    .hero__background__circle {
        position: absolute;
        right: 0;
        top: 20%;
        height: 28%;
        width: 20em;
        background-color: var(--softBlue);
        z-index: 1;
        border-radius: 35% 0 0 35%;
        -webkit-border-radius: 35% 0 0 35%;
        -moz-border-radius: 35% 0 0 35%;
        -ms-border-radius: 35% 0 0 35%;
        -o-border-radius: 35% 0 0 35%;
    }

    .description__background__circle {
        position: absolute;
        height: 14.7em;
        width: 20em;
        left: 0;
        background-color: var(--softBlue);
        z-index: 1;
        border-radius: 0 35% 35% 0;
        -webkit-border-radius: 0 35% 35% 0;
        -moz-border-radius: 0 35% 35% 0;
        -ms-border-radius: 0 35% 35% 0;
        -o-border-radius: 0 35% 35% 0;
        transform: translateY(-80%);
        -webkit-transform: translateY(-80%);
        -moz-transform: translateY(-80%);
        -ms-transform: translateY(-80%);
        -o-transform: translateY(-80%);
    }
}

@media screen and (max-width: 375px) {
    .hero__background__circle {
        position: absolute;
        right: 0;
        top: 21%;
        height: 25%;
        width: 20em;
        background-color: var(--softBlue);
        z-index: 1;
        border-radius: 35% 0 0 35%;
        -webkit-border-radius: 35% 0 0 35%;
        -moz-border-radius: 35% 0 0 35%;
        -ms-border-radius: 35% 0 0 35%;
        -o-border-radius: 35% 0 0 35%;
    }
}

@media screen and (max-width: 320px) {
    .hero__background__circle {
        position: absolute;
        right: 0;
        top: 20%;
        height: 12em;
        width: 20em;
        background-color: var(--softBlue);
        z-index: 1;
        border-radius: 35% 0 0 35%;
        -webkit-border-radius: 35% 0 0 35%;
        -moz-border-radius: 35% 0 0 35%;
        -ms-border-radius: 35% 0 0 35%;
        -o-border-radius: 35% 0 0 35%;
    }
}